.about-container {
  width: 800px;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.about-container div {
  margin-top: 30px;
}

@media (max-width: 800px) {
  .about-container {
    width: 90%;
    margin: 10% auto;
  }
}
