.about-container {
  width: 800px;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
}

.about-container div {
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .about-container {
    width: 100%;
  }
}
