.find-me-container {
  width: 90%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.find-me-card {
  border: 1px solid var(--neutral-one);
  border-radius: 8px;
  padding: 8px;
  width: fit-content;
  cursor: pointer;
}

.find-me-card div {
  display: flex;
  align-items: center;
}

.find-me-showcase {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

@media screen and (min-width: 576px) {
  .find-me-container {
    /* background-color: red; */
  }
}

@media screen and (min-width: 768px) {
  .find-me-container {
    /* background-color: blue; */
  }
}

@media screen and (min-width: 1200px) {
  .find-me-container {
  }
}
