.hobbies-container {
  width: 800px;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.hobby-card {
  border-bottom: 1px solid var(--neutral-one);
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .hobbies-container {
    width: 90%;
    margin: 10% auto;
  }
  .hobby-card {
    padding-bottom: 8px;
    margin: 8px 0;
  }
}
