.me-container {
  height: 100vh;
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: none;
  background-image: url("../images/me.png"); /* Replace 'your-image-path.jpg' with your actual image path */
  background-size: cover; /* Adjusts the size of the background image */
  background-position: center;
  align-items: flex-start;
  justify-content: end;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.blinking {
  animation: blink 2s step-end infinite; /* Adjust the duration as needed */
}

@media (max-width: 800px) {
  .me-container {
    width: 100%;
  }
}
