.skills-container {
  width: 800px;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.skill-detail-holder {
  /* width: 80%; */
}

@media (max-width: 800px) {
  .skills-container {
    width: 100%;
  }
}
