.skills-container {
  width: 90%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.skill-detail-holder {
  width: 80%;
}

@media screen and (min-width: 576px) {
  .skills-container {
    /* background-color: red; */
  }
}

@media screen and (min-width: 768px) {
  .skills-container {
    /* background-color: blue; */
  }
}

@media screen and (min-width: 1200px) {
  .skill-detail-holder p {
    /* font-size: 48px; */
  }
}
