.work-container {
  width: 800px;
  margin: 5% auto;
}

.workIndex {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.work-table {
  display: flex;
  flex-wrap: wrap;
}
.index-container {
  display: flex;
  gap: 10px;
}

@media (max-width: 800px) {
  .work-container {
    width: 90%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .box:nth-child(1) {
    order: 3; /* Change order to move the third box to the next row */
    width: 30%;
  }
  .box:nth-child(2) {
    order: 3; /* Change order to move the third box to the next row */
    width: 60%;
  }
  .box:nth-child(3) {
    order: 3; /* Change order to move the third box to the next row */
    width: 100%;
  }
  .workIndex {
    margin-top: 20px;
    width: 100%;
    align-items: start;
  }
  .index-container {
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
  }
}
